body {
    background-color: #4287f5;
    text-align: center;
    color: white;
    font-family: Verdana;
    max-width: 1000px;
    margin: 0 auto;
    width: 95%;
}

a {
    color: #42f5ec;
    text-decoration: none;
}

a:hover {
    color: #ad42f5;
}

main {
    margin-left: 20%;
    margin-right: 20%;
}

img {
    width: 65%;
    height: 65%;
}

ul {
    text-align: left;
}

main p {
    text-align: left;
}

footer img {
    border: 0;
    width: 88px;
    height: 31px;
}

/* CSS Update: */
/* Foundational Three */
main, .maincontainer {
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
}
/* Rule Overrides For Laptops / Small Screens */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    body {
        font-size: 18px; 
    }
}
/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    body {
        font-size: 16px; 
    }
}
/* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    body {
        font-size: 14px; 
    }
}
table, th, td {
    border: 1px solid;
    align-items: center;
    margin: auto;
}
th, td {
    padding: 5px;
}
table th {
    background-color: #023047;
}
table tr:nth-child(odd) {
    background-color: #025781;
}
table tr:nth-child(even) {
    background-color: #67c6f6;
}
table tr #sales {
    background-color: #67c6f6;
}
ol {
    list-style-position: inside;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
}
h3 {
    text-align: left;
}
.home p {
    text-align: center;
}
.project figure {
    float: left;
}

input[type=text], input[type=image] {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit], input[type=reset] {
    width: 100%;
    height: 40px;
    background-color: white;
    color: black;
    margin: 8px 0;
    cursor: pointer;
}
label {
    float: left;
}
.img-div input{
    float: left;
    width: 20%;
}
input[type=checkbox] {
    background-color: white;
    color: black;
    cursor: pointer;
}

/* Slideshow CSS rules: */
.gallery {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
#slideshow {
    width: 300px;
    height: 350px;
    margin-bottom: 20px;
    text-align: center;
}
#slideshow figure {
    margin: 0;
}
figcaption {
    color: white;
}
#slideshow img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    border-radius: 8px;
    background-color: #4287f5;
}
#slideshow figcaption {
    margin-top: 8px;
    font-size: 16px;
    color: #333;
}
.buttons {
    display: flex;
    gap: 10px;
}
.buttons button {
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
}




 