<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/awarre53/"  target="_blank">Charlotte.edu</a> ||
        <a href="https://github.com/awarre53"  target="_blank">Github</a> ||
        <a href="https://awarre53.github.io/"  target="_blank">Github.io</a> ||
        <a href="https://www.freecodecamp.org/AustinWarrenUNCC"  target="_blank">freeCodeCamp</a> ||
        <a href="https://www.codecademy.com/profiles/AustinWarrenUNCC"  target="_blank">Codecademy</a> ||
        <a href="https://www.linkedin.com/in/austin-warren-0a8603233/"  target="_blank">LinkedIn</a>
    </nav>

    <p>Page built by <a href="warrenindustries.com/index.html"  target="_blank">Warren Industries </a>&copy;2025 | <i>Certified in <a href="https://www.freecodecamp.org/certification/AustinWarrenUNCC/responsive-web-design"  target="_blank">Responsive Web Design</a></i></p>

    <a href="https://validator.w3.org/check?uri=referer" id="validation-link-html">
        <img src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
    </a>

    <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation-link-css">
        <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
    </a>    
</footer>    
