<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/awarre53/"  target="_blank">Charlotte.edu</a> ||
        <a href="https://github.com/awarre53"  target="_blank">Github</a> ||
        <a href="https://awarre53.github.io/"  target="_blank">Github.io</a> ||
        <a href="https://www.freecodecamp.org/AustinWarrenUNCC"  target="_blank">freeCodeCamp</a> ||
        <a href="https://www.codecademy.com/profiles/AustinWarrenUNCC"  target="_blank">Codecademy</a> ||
        <a href="https://www.linkedin.com/in/austin-warren-0a8603233/"  target="_blank">LinkedIn</a>
    </nav>

    <p>Page built by <a href="warrenindustries.com/index.html" target="_blank">Warren Industries </a>&copy;2025 
        | <i>Certified in <a href="https://www.freecodecamp.org/certification/AustinWarrenUNCC/responsive-web-design"  target="_blank">Responsive Web Design</a></i>
        | <i>Certified in <a href="https://www.freecodecamp.org/certification/AustinWarrenUNCC/javascript-algorithms-and-data-structures-v8"  target="_blank">JavaScript Algorithms and Data Structures</a></i></p>
    
</footer>    
