<header>
    <h1>Austin Warren's Athletic Wolf † ITIS3135 </h1>
    <nav>
        <a href="./index.html">Home</a> ||
        <a href="introduction.html">Introduction</a> ||
        <a href="contract.html">Contract</a> ||
        <a href="website_evaluations.html">Website Evaluations</a> ||
        <a href="tables.html">Tables</a> ||
        <a href="byo_form.html">BYO Introduction</a> ||
        <a href="slideshow.html">Slideshow Gallery</a> ||
        <a href ="drawing.html">Drawing</a>
    </nav>
    <nav>
        <a href="./stuff/mY%20FiLe%20😂.htm">CRAPPY Website</a> || 
        <a href="./hobby/index.html">Hobby</a> ||
        <a href="project_overview.html">Project Overview</a> ||
        <a href="project/index.html">Client Project</a>
    </nav>
</header>